{
  "extends": [
    "finiam/react",
  ],
  "rules": {
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "root/",
          "cms/"
        ]
      }
    ],
    "react/forbid-prop-types": "off"
  }
}
