html {
  -moz-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  -moz-font-feature-settings: "smcp=1, onum=1, frac=1, kern=1, liga=1, dlig=1, swsh=1";
  -ms-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  -o-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  -webkit-font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1,
    "liga" 1, "dlig" 1, "swsh" 1;
  font-feature-settings: "smcp" 1, "onum" 1, "frac" 1, "kern" 1, "liga" 1,
    "dlig" 1, "swsh" 1;
  font-feature-settings: normal;
  font-feature-settings: "kern", "liga";
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  letter-spacing: -0.5px;
  text-rendering: optimizeLegibility;
}

/*
  Fonts acquired at https://fonts.studiofeixen.ch/

  Re-use of these files without a license is strictly prohibited.

  Licensed for the finiam.com domain.
*/

@font-face {
  font-family: "studiofeixen";
  font-style: normal;
  font-weight: normal;
  /* Sans Edgy Medium + Sans Medium */
  src: url("./fonts/medium.otf");
}

@font-face {
  font-family: "studiofeixen";
  font-style: normal;
  font-weight: 300;
  /* Sans Edgy Regular + Sans Regular */
  src: url("./fonts/regular.otf");
}
