@font-face {
  font-family: "studiofeixen";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/StudioFeixenSans-Medium.eot");
  src: url("./fonts/StudioFeixenSans-Medium.eot") format("embedded-opentype"),
    url("./fonts/StudioFeixenSans-Medium.woff2") format("woff2"),
    url("./fonts/StudioFeixenSans-Medium.woff") format("woff"),
    url("./fonts/StudioFeixenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "studiofeixen-edgy";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/StudioFeixenSans-EdgyMedium.eot");
  src: url("./fonts/StudioFeixenSans-EdgyMedium.eot") format("embedded-opentype"),
    url("./fonts/StudioFeixenSans-EdgyMedium.woff2") format("woff2"),
    url("./fonts/StudioFeixenSans-EdgyMedium.woff") format("woff"),
    url("./fonts/StudioFeixenSans-EdgyMedium.ttf") format("truetype");
}
